/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

/* Variables */
:root {
    --accent-color: #f4e04d;
    --accent-color-alt: #ff6f61;
    --heading-color: #ffffff;
    --body-color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Sen', sans-serif;
    color: var(--body-color);
    background-color: #dddddd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
}

/* Header */
header {
    height: 20vh;
}

/* Cards */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30vw;
    aspect-ratio: 1 / 1;
    text-align: center;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(25px);
    /*
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    */
}

.card > .textbox {
    background-color: #FCF4DD;
    padding: 1px;
    border-radius: inherit;

    color: black;
}

.card h3 {
    font-size: 1.6rem;
    margin-bottom: -6px;
}