/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

/* Variables */
:root {
    --accent-color: #ff6f61;
    --accent-color-alt: #F5A64C;
    --heading-color: #ffffff;
    --body-color: #ffffff;
}

/* Global Styles */

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Sen', sans-serif;
    color: var(--body-color);
    background-color: #F7EDD5;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
}

/* Header */

header {
    text-align: center;
    margin-bottom: 40px;
    background-color: #F26848;
    width: 100vw;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    flex-flow:column nowrap;
}

header h1 {
    color: #fcf4dd;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: -5px;
 
}

header h2 {
    color: #fcf4dd;
    font-size: 1.1rem;
    font-weight: 400;
}

nav {
    max-width: 1400px;
    width: 100%; 
    position:absolute;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fcf4dd;
    font-size: 1.1rem;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #ffffff;
}


/* Main */

main {
    max-width: 1400px;
    width: 100%;
}


/* Cards */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin: 0 20px 35px 20px;       /* Top, Right, Bottom, Left */
}

.card {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    width: 28%;
    aspect-ratio: 1 / 1;
    text-align: center;
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding-bottom: 4vw;
    transition: ease-in-out 0.15s;
    overflow: visible; /* Allow content to extend beyond the card boundaries */
}

.card:hover {
    transform: scale(1.02); 
    background-color: rgba(233, 65, 36, 0.651);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    transition: ease-in-out 0.25s;
}

.card:hover img {
    transform: scale(1.1); 
}

.card > .textbox {
    background-color: #fcf4dd;
    border-radius: inherit;
    z-index: 3;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
    display: flex; 
    flex-direction: column; /* Flex direction to column */ 
    align-items: center; /* Center horizontally */ 
    justify-content: center; /* Center vertically */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card .textbox.expanded {
    height: 100%;
    display: block;
}

.card.expanded img {
    transform: scale(1);
}

.card .textbox p {
    display: none;
}

.card .textbox.expanded .main-text {
    display: block;
    margin: 20px;
}

.card .textbox button {
    display: none;
}

.card .textbox.expanded button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card h3 {
    font-size: 1.4em;
    font-size: clamp(1.1em, 1vw + 0.7em, 2em);
    color: var(--accent-color);
}

.card .textbox.expanded h3 {
    margin-bottom: -12px;
}

.card:hover .textbox {
    animation: wiggle 0.4s ease-in-out;
}

.card.expanded .textbox {
    animation: none !important; /* Disable animation when card is expanded */
}

/* Tooltip */

.tooltip {
    position: absolute;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    display: none; /* Initially hidden */
    z-index: 5;
    white-space: nowrap; /* Prevent text from wrapping */
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Position the arrow at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent; /* Arrow pointing down */
}

/* Footer */

footer {
    text-align: center;
    margin-top: auto;
    background-color: #F26848;
    width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    flex-flow:column nowrap;
    bottom: 0;
}

.socials {
    font-size: 2.2rem;
    letter-spacing: 0.2em;
}

footer a {
    text-decoration: none;
    color: #fcf4dd;
    transition: color 0.2s ease-in-out;
}

footer a:hover {
    color: #ffffff;
}


/* Animations */

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}

/* Media Queries */

@media screen and (max-width: 950px) {
    .card .textbox.expanded {
        overflow: auto;
    }
}

@media screen and (min-width: 1270px) {
    .card .textbox.expanded .extra-text {
        display: block;
        margin: 20px;
    }
}

@media screen and (min-width: 1350px) {
    .card .textbox.expanded .main-text {
        margin: 20px 40px;
    }

    .card .textbox.expanded .extra-text {
        margin: 20px 40px;
    }
}