/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');

/* Variables */
:root {
    --accent-color: #f4e04d;
    --accent-color-alt: #ff6f61;
    --heading-color: #ffffff;
    --body-color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Sen', sans-serif;
    color: var(--body-color);
    background-color: #dddddd;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
}

/* Main */

main {
    max-width: 1500px;
    width: 100%;
}

/* Header */
header {
    height: 20vh;
}

/* Cards */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 20px 20px 20px;       /* Top, Right, Bottom, Left */
}

.card {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    width: 30%;
    aspect-ratio: 1 / 1;
    text-align: center;
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding-bottom: 5vw;
    transition: ease-in-out 0.15s;
}

.card:hover {
    transform: scale(1.03); 
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    transition: ease-in-out 0.25s;
}

.card:hover img {
    transform: scale(1.07); 
}

.card > .textbox {
    background-color: #FCF4DD;
    border-radius: inherit;
    z-index: 3;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
    display: flex; 
    flex-direction: column; /* Flex direction to column */ 
    align-items: center; /* Center horizontally */ 
    justify-content: center; /* Center vertically */
}

.card .textbox.expanded {
    height: 100%;
    display: block;
}

.card .textbox p {
    display: none;
}

.card .textbox.expanded .main-text {
    display: block;
    margin: 20px;
}

.card .textbox button {
    display: none;
}

.card .textbox.expanded button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card h3 {
    font-size: 1.4em;
    font-size: clamp(1.1em, 1vw + 0.7em, 2em);
    color: var(--accent-color-alt);
}

/* Media Queries */

@media screen and (max-width: 850px) {
    .card .textbox.expanded {
        overflow: auto;
    }
}

@media screen and (min-width: 1200px) {
    .card .textbox.expanded .extra-text {
        display: block;
        margin: 20px;
    }
}

@media screen and (min-width: 1500px) {
    .card .textbox.expanded .main-text {
        margin: 40px;
    }

    .card .textbox.expanded .extra-text {
        margin: 40px;
    }
}